# Analysis of behavoarial data from the Face Word task

In [2]:
# load in the packages
import pandas as pd
import os

In [3]:
# load csv file 
pd.read_csv("df.csv")

,onset,duration,trial_type,response_time,word,response,correct_resp,gender,age,sub,ses,block,year,month,day,hour,minute,subject,run,task
0,7.299797,0.686011,image_neg,0.419912,dictation,b,0.0,male,21.0,101,1.0,5.0,2023,3,23,11,31,101,5,NaN
1,14.699749,0.686153,image_neg,0.536762,dangerous,b,0.0,male,21.0,101,1.0,5.0,2023,3,23,11,31,101,5,NaN
2,27.299301,0.686704,image_pos,0.503792,corn,y,0.0,male,21.0,101,1.0,5.0,2023,3,23,11,31,101,5,NaN
3,37.297733,0.688240,image_pos,0.555419,theater,y,0.0,male,21.0,101,1.0,5.0,2023,3,23,11,31,101,5,NaN
4,47.297657,0.688501,image_neg,0.505725,ant,b,0.0,male,21.0,101,1.0,5.0,2023,3,23,11,31,101,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13675,550.991155,0.698027,word_neu,0.589187,arm,b,1.0,male,23.0,98,1.0,5.0,2023,3,21,14,18,98,5,NaN
13676,560.991481,0.697719,word_neu,0.605622,apricot,b,1.0,male,23.0,98,1.0,5.0,2023,3,21,14,18,98,5,NaN
13677,570.991531,0.697825,word_pos,0.587773,tulip,b,1.0,male,23.0,98,1.0,5.0,2023,3,21,14,18,98,5,NaN
13678,580.991792,0.697676,word_neg,0.622741,screech,y,0.0,male,23.0,98,1.0,5.0,2023,3,21,14,18,98,5,NaN
13679,590.991313,0.698213,word_pos,0.472308,cash,b,1.0,male,23.0,98,1.0,5.0,2023,3,21,14,18,98,5,NaN